
video {
    width: 100%; /* Ajusta a largura para o contêiner */
    max-width: 250px; /* Define uma largura máxima */
    height: auto; /* Mantém a proporção do vídeo */
    border: 2px solid rgba(24, 27, 38, 0.067);
}