.full-height {
    height: calc(100vh - 80px); /* Faz com que o contêiner ocupe a altura total da viewport */
}
.form-container {
    width: 100%;
    max-width: 400px; /* Limita a largura máxima do formulário */
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões */
}
.btn-container .btn {
    width: 100%; /* Faz com que os botões ocupem toda a largura disponível */
    max-width: 300px; /* Define a largura máxima dos botões */
}

.login-title {
    margin-bottom: 20px; /* Espaço abaixo do título */
    text-align: center; /* Centraliza o texto */
}